{% assign freelance = site.pages %}
{% for page in freelance %}
  {% if page.title == "Freelance" %}
<div class="freelance-header">
  <div class="flex">
    <div class="page-headline">
      <h2 data-splitting class="wavey animate desktop-only">{{page.['Page Title']}}</h2>
      <div class="mobile-header">
        <h2 class="mobile-only">{{page.['Page Title']}}</h2>
      </div>
      <p>
        {{page.['Page Description']}}
      </p>
    </div>
    <div class="page-image">
      <div class="image-wrapper header-image">
        <!-- <img src="{{page.['Page Image']}}" > -->
        <div class="blobs">
          <div class="blob-one blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FF0066" d="M46.7,-46.7C61,-43.6,73.5,-29.4,71.4,-16.3C69.4,-3.1,52.8,8.9,40.3,16.5C27.9,24.1,19.5,27.3,9.4,34.9C-0.6,42.4,-12.4,54.3,-24.4,55.1C-36.4,55.9,-48.6,45.5,-56.7,32.3C-64.8,19.1,-68.8,3.2,-68.3,-14.2C-67.8,-31.6,-62.8,-50.3,-50.7,-53.7C-38.6,-57.2,-19.3,-45.3,-1.6,-43.4C16.2,-41.6,32.4,-49.7,46.7,-46.7Z" transform="translate(100 100)" />
            </svg>
          </div>
          <div class="blob-two blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FF0066" d="M48,-69.7C60.9,-66.4,69.2,-50.9,76.3,-35C83.5,-19,89.4,-2.7,86.6,12C83.9,26.8,72.5,39.8,60.6,51.4C48.8,62.9,36.6,73,22.6,77.1C8.7,81.2,-7,79.3,-23.3,76.1C-39.5,72.8,-56.3,68.1,-61.2,56.4C-66,44.7,-58.9,26.1,-55.2,11.7C-51.5,-2.7,-51.1,-13,-50.8,-27.2C-50.5,-41.4,-50.2,-59.6,-41.8,-64.9C-33.3,-70.3,-16.7,-62.8,0.4,-63.5C17.5,-64.2,35.1,-73,48,-69.7Z" transform="translate(100 100)" />
            </svg>
          </div>
          <div class="blob-three blob">
            <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
              <path fill="#FF0066" d="M44.8,-50.9C54.8,-44.9,57.7,-27.8,53,-15.1C48.4,-2.5,36.2,5.7,28.6,14.5C21.1,23.3,18.2,32.7,12,36.5C5.7,40.4,-3.9,38.7,-14,36.1C-24.2,33.4,-34.9,29.9,-36.9,23C-38.9,16,-32.3,5.8,-32.2,-7.6C-32.1,-20.9,-38.6,-37.3,-34.3,-44.3C-30,-51.4,-15,-49.1,1.2,-50.4C17.3,-51.8,34.7,-56.9,44.8,-50.9Z" transform="translate(100 100)" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="freelance-process">
  <div class="section-title">
      <h2 class="straight-up">{{page.['How it works title']}}</h2>
  </div>
  <div class="flex">
    <div uk-slider>
    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
        <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-2@s">
          {% for list in page.['How it works']%}
          <li>
              <div class="uk-card">
                  <div class="uk-card-body">
                      <h2>{{list.Word}}</h2>
                      <p>{{list.Text}}</p>
                  </div>
              </div>
          </li>
          {% endfor %}
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    </div>
    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
  </div>
</div>
<div class="freelance-header white">
  <div class="flex flipped">
    <div class="page-headline top">
      <h2 class="straight-up left">{{page.['Join Title']}}</h2>
      <p>
        {{page.['Join Description']}}

        <span class="flex cta-list">
          {% for cta in page.['Join CTA']%}
            <span class="cta">
              <span class="h2">
                {{cta.Title}}
              </span>
              <span class="p">
                {{cta.Text}}
              </span>
              <a href="{{cta.Link}}">
                <span class="button">
                  {{cta.textButton}}
                </span>
              </a>
            </span>
          {% endfor %}
        </span>
      </p>
    </div>
    <div class="page-image">
      <div class="image-wrapper">
        <img src="{{page.['Join Image']}}" >
      </div>
    </div>
  </div>
</div>
<!-- <div class="freelance-roles">
  <div class="section-title">
    <h2 class="straight-up">Latest roles</h2>
  </div>
  <div class="flex">
    {% assign roles = site.roles %}
    {% for role in roles %}
      <div class="role">
        <div class="role-image">
          {% if role.['Role Image'] %}
            <img src="{{role.['Role Image']}}">
          {% endif %}
        </div>
        <div class="role-sub">
          {{role.['Role Status']}}
        </div>
        <div class="role-title">
          <h2>{{role.title}}</h2>
        </div>
        <div class="role-text">
          <p>{{role.content}}</p>
        </div>
        <a href="">
          <div class="role-cta">
            Apply
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div> -->
<div class="get-involved">
  <div class="section-title small">
    <h2>{{page.['Get Involved Title']}}</h2>
  </div>
  <div class="flex">
    {% for item in page.['Get Involved list'] %}
    <div class="get-involved-item">
      <h2 data-splitting class="wavey">{{item.Title}}</h2>
      <p>{{item.Text}}</p>
    </div>
    {% endfor %}
  </div>
</div>
<!-- <div class="freelance-roles undercover">
  <div class="section-title">
    <h2 class="straight-up">Undercover</h2>
  </div>
 <div class="floating-title">
    <h2 data-splitting class="undercover-title">
      Umbrella Undercover Umbrella Undercover
    </h2>
  </div>
  <div class="flex">
    {% assign roles = site.undercover %}
    {% for role in roles %}
      <div class="role">
        <div class="role-image">
          {% if role.['Undercover Image'] %}
            <img src="{{role.['Undercover Image']}}">
          {% endif %}
        </div>
        <div class="role-sub">
          {{role.['Undercover Section']}}
        </div>
        <div class="role-title">
          <h2>{{role.title}}</h2>
        </div>
        <div class="role-text">
          <p>{{role.content}}</p>
        </div>
        <a href="">
          <div class="role-cta">
            Read more
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div> -->
<div class="freelance-header pink">
  <div class="flex flipped">
    <div class="page-headline top">
      <div class="tie-up">
        <h2 class="straight-up left">Umbrella Studios</h2>
        <p>
          {{page.['Umbrella Studios Description']}}
        </p>
      </div>
    </div>
    <div class="page-image">
      <div class="image-wrapper">
        {% for image in page.['Umbrella Studios Gallery'] %}
          <img src="{{image.Image}}">
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- <div class="umbrella_studio-gallery">
  <div class="umbrella_studios">
    {% for image in page.['Umbrella Studios Gallery'] %}
      <img src="{{image.Image}}">
    {% endfor %}
    <h2 class="wavey" data-splitting>Umbrella Studios</h2>
    <p class="umbrella_studios-description">{{page.['Umbrella Studios Description']}}</p>
  </div>
</div> -->
<div class="our-work white">
  <div class="section-title">
    <h2 class="straight-up">Our work</h2>
    <p>We work with everyone from post investment startups, to SME’s and global brands and deliver a full creative service from brand strategy to packaging, imagery production, campaigns and everything in between. With the right team, anything is possible.</p>
    {% assign projects = site.projects %}
    <ul class="project-list">
      {% for project in projects %}
        <a href="#{{project.title}}"><li>{{project.title}}</li></a>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="umbrella_work-wrapper">
  {% include work.html %}
</div>
{% endif %}
{% endfor %}
