<div class="closing-down">
  <h1>Umbrella is taking a well earned break.</h1>
  <h3>It’s been an exhausting year of Zoom calls, lockdowns, childcare juggling, and pitching, and we’re all a bit...frazzled. We don’t want to be frazzled anymore.

      We are using the Spring months to disconnect from zoom, close our laptops, get outside, and hang out with our families and friends - properly. Unfrazzling ourselves.

      If you have a brief you’d like us to work on, we’d still love to hear from you. We are taking on a few projects here and there to keep our minds active. Please email the relevant person below:
</h3><br><h3>
      <br>Design: <a href="mailto:tim@umbrellastudios.co.uk">tim@umbrellastudios.co.uk</a>
      <br>Brand strategy: <a href="mailto:tash@umbrellastudios.co.uk">tash@umbrellastudios.co.uk</a>
      <br>Creative production: <a href="mailto:tansy@umbrellastudios.co.uk">tansy@umbrellastudios.co.uk</a>
      </h3><h3><br>
      Otherwise, see you in the summer - rested, healthier, happier.</h3>
</div>
<div class="page-overlay"></div>
<div class="umbrella-header">
  <div class="umbrealla-header__logo">
    <img src="assets/Umbrella_wte.png">
  </div>
</div>
<div class="umbrella_menu">
  <div class="umbrella_freelance">
    <h1>Freelancers <span>Find your perfect brief ↓</span></h1>
    <div class="load-content">
      {% include freelance.html %}
    </div>
  </div>
  <div class="umbrella_clients">
    <h1>Clients <span>Brief your perfect team ↓</span></h1>
    <div class="load-content">
      {% include clients.html %}
    </div>
  </div>
</div>
