$grey: #e8e8e4;
$blue: #202c3c;
$orange: #f38777;
$yellow: #fed561;

$u-sans: 'roc_groteskregular';
$u-condenssed: 'roc_groteskcondensed_bold';
$u-compressed: 'roc_groteskcompressed_bold';
$u-compressed-light: 'roc_groteskcompressed_medium';

@font-face {
    font-family: 'roc_groteskcompressed_bold';
    src: url('../assets/kostic_-_roc_grotesk_compressed_bold-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_compressed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roc_groteskcompressed_medium';
    src: url('../assets/kostic_-_roc_grotesk_compressed_medium-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_compressed_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roc_groteskcondensed_bold';
    src: url('../assets/kostic_-_roc_grotesk_condensed_bold-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'roc_groteskregular';
    src: url('../assets/kostic_-_roc_grotesk_regular-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roc_groteskwide_black';
    src: url('../assets/kostic_-_roc_grotesk_wide_black-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_wide_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roc_groteskwide_bold';
    src: url('../assets/kostic_-_roc_grotesk_wide_bold-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_wide_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roc_groteskwide_extrabold';
    src: url('../assets/kostic_-_roc_grotesk_wide_extrabold-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_wide_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roc_groteskwide_medium';
    src: url('../assets/kostic_-_roc_grotesk_wide_medium-webfont.woff2') format('woff2'),
         url('../assets/kostic_-_roc_grotesk_wide_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  font-family: $u-sans;
}

h1 {
  @include mq($from: desktop) {
    font-size: 80px;
    line-height: 1.1;
    margin-bottom: 80px;
  }
}

h2 {
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 1.2;
  color: #121212;
}

p {
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 20px;
  color: #121212;
}

a {
  color: inherit !important;

  &:hover {
    text-decoration: none;
  }
}

.padd {
  padding: 5%;
  position: relative;
}

.padd-sides {
  padding: 0 2.5%;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;

  @include mq($from: desktop) {
    flex-direction: row;
    justify-content: space-between;
  }

  & > * {
    @include mq($from: desktop) {
      width: 50%;
    }
  }

  &.flip {
    @include mq($from: desktop) {
      flex-direction: row-reverse;
    }

    .left {
      .big-circle {
        margin-left: auto;
      }
    }
  }
}

.contact {
  .flex {
    height: calc(100vh - 90px);;
  }
}

.left, .right {
  position: relative;

  &.orange {
    background-color: $orange;
  }

  &.blue {
    background-color: $blue;
    color:#fed561;

    h1 {
      color:#fed561;
    }

    p {
      color:#fed561;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.right-on-desktop {
  @include mq($from: desktop) {
    max-width: 42%;
    margin-left: auto;
  }
}

.center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 90%;
}

.umbrella-header {
  width: 96%;
  background-color: transparent;
  z-index: 100000;
  padding-left: 4%;
  padding-top: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  position: absolute;


  .umbrealla-header__logo {
    width: max-content;
    height: 11vh;

    img {
      width: auto;
      height: 100%;
    }
  }
}

.umbrella-intro {
  background-color: $grey;
  height: calc(100vh - 90px);

  h1, h2, p {
    color: $blue;
  }

  p {
    font-weight: 400;
  }

  &.orange {
    background-color: $orange;

    h1, h2, p {
      color: $grey;
    }
  }

  &.image {
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes cirlcesOne {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesTwo {
  0% {
    top: 50%;
    left: 0;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesThree {
  0% {
    top: 100%;
    left: 0;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesFour {
  0% {
    top: 100%;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesFive {
  0% {
    top: 100%;
    left: 100%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesSix {
  0% {
    top: 50%;
    left: 100%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesSeven {
  0% {
    top: 0;
    left: 100%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes cirlcesEight {
  0% {
    top: 0;
    left: 50%;
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


@keyframes grow {
  0% {
    width: 0;
    height: 0;
  }

  100% {
    width: 25vw;
    height: 25vw;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    border-radius: 50%;
    transform-origin: center;
  }
  50% {
    transform: rotate(360deg);
    border-radius: 0;
    transform-origin: center;
  }
  100% {
    transform: rotate(720deg);
    border-radius: 50%;
    transform-origin: center;
  }
}

.big-circle {
  width: 25vw;
  height: 25vw;
  position: relative;

  &:after {
    position: relative;
    animation-name: grow;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    border-radius: 50%;
    background-color: $blue;
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.spinner {
    &:after {
      height: 25vw;
      width: 25vw;
      animation-name: spinner;
      animation-duration: 2s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      transform-origin: center;
      left: 0;
      top: 0;
    }
  }
}

.small-circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $orange;
  position: absolute;
  z-index: 10;

  &.one {
    top: 0;
    left: 0;
    animation-name: cirlcesOne;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.two {
    top: 50%;
    transform: translateY(-50%);
    animation-name: cirlcesTwo;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.three {
    top: 100%;
    animation-name: cirlcesThree;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.four {
    top: 100%;
    left: 50%;
    transform: translateY(-50%);
    animation-name: cirlcesFour;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.five {
    bottom: 0;
    left: 100%;
    transform: translateY(-50%);
    animation-name: cirlcesFive;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.six {
    bottom: 50%;
    left: 100%;
    transform: translateY(-50%);
    animation-name: cirlcesSix;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.seven {
    top: 0;
    left: 100%;
    transform: translateY(-50%);
    animation-name: cirlcesSeven;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.eight {
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    animation-name: cirlcesEight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }
}

.umbrella-intro.image {
  position: relative;

  .team-profiles {
    position: absolute;
    top: 0;
    display: flex;
    z-index: 100;

    & > * {
      width: 28%;
      margin-right: 15px;
    }

    h1 {
      font-size: 20px;
      line-height: 1;
      margin: 0;
      font-weight: 900;
      color: #fff;
    }

    p {
      font-size: 16px;
      line-height: 1.2;
      color: #fff;
      max-width: 50%;
    }
  }
}

.uk-card-body {
  padding: 0;

  h3 {
    font-size: 60px;
  }

  p {
    max-width: 100%;
  }
}

.uk-card-default {
  box-shadow: none;
}

.uk-card {
  display: flex;
  flex-direction: row-reverse;
  padding: 5%;

  & > * {
    width: 50%;
  }

  .uk-card-media-top {
    background-color: #f6f6f6;
    height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.image-wrapper {
  width: 100%;
  height: 100vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
